---
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>About Us</h1>
  <a href="/">Back to Home</a>
</Layout>

<style>
  h1 {
    grid-column: 2 / span 1;
    margin-top: 48px;
  }
</style>
