<h1>FÆLLESSKABET HOS 
YOUNG CREATIVES DENMARK</h1>
<p> Vi tror på, at ægte forandring opstår, når idéer, mennesker og perspektiver mødes og samarbejder.</p>
<style>
  h1 {
    grid-column: 2 / span 1;
    text-align: center;
    padding: 75px;
  }
  p {
  grid-column: 2 / span 1;
  text-align: center;
}
</style>
