---
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/YCDK.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>YCDK</title>
  </head>
  <body>
    <Hero />
    <slot />
    <Footer />
    <style is:global>
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }
      body,
      h2,
      p,
      a {
        margin: 0;
      }
      body {
        display: grid;
        grid-template-columns: 206px 1fr 206px;
        grid-auto-rows: auto;
      }
      @media (max-width: 1200px) {
        body 
        {
          grid-template-columns: 1fr;
        }
      }
    </style>
  </body>
</html>
